@if (TempData["Success"] != null)
{
    <div class="alert alert-success notification alert-dismissible">
        @TempData["Success"]
    </div>
}

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger notification alert-dismissible">
        @TempData["Error"]
    </div>
}
